
.legend {

	h6 {
		font-weight: bold;
	}

	ul {
		@include inline-unordered-list;
	}
	li {
		//@include position(relative);
		font-size: $global-font-size*0.8;
		margin-right: $global-margin*0.5;

		&:before {
			@include global-box($type: 'small');
			background: $complementary-dark-color2;
			content: '';
			display:inline-block;
			height: 20px;
			margin-right: 0.5rem;
			margin-bottom: 0;
			width: 20px;
			vertical-align: bottom;
		}
		&.active:before {
      background: #00cc00;
		}
    &.non-active:before {
      background: #e60000;
		}
		&.pending:before {
      background: #ffff00;
		}
	}
}

table.caseTable {
    tr.completed {
      background: $complementary-dark-color2;
    }
    td {
      text-align: center;
    }
    td:nth-child(1) {
			min-width:5px;
			padding: 0;
      width: 1%;
    }
    td:nth-child(2) {
      text-align: left;
      width: 50%;
    }
}

#summary {
	.cell {
		margin-bottom: 1rem;
	}
	b {
		color: $complementary-dark-color2;
		display: block;
		font-size: $small-font-size;
		margin-right: 0.8rem;
	}
	span {
		display: block;
		min-height: 1rem;
	}
}

@include breakpoint(medium) {
	#summary {
		b,span {
			display: inline;
		}
	}
};
