h1,h2,h3,h4,h5,h6 {
	//text-transform: uppercase;

}

h2,h3,h4,h5,h6 {
	//text-transform: uppercase;
	color: $complementary-dark-color3;
}

h1 small,
h2 small,
h3 small,
h4 small, {
	font-size: 1rem;
	text-transform: none;
}

.titleMain h1 {
	//color: $complementary-dark-color3;
	color: darken($complementary-dark-color3,20);
	font-weight: bold;
}
