#footer {
  border-top: 1px solid $complementary-light-color2;

	.inner {
		background: $white;
    font-size: $small-font-size;
		padding: $global-mobile-padding;
	}

	a {
		color: $black;
    display: block;
		margin: 0px;
		&:hover {
			color: $dark-gray;
		}
	}
}

@include breakpoint(medium) {
  #footer {
    .inner {
      padding: $global-edge-padding;
    }
    a {
      display: inline;
      margin: 0 10px 0 0;
    }
  }

}
