form,.form {
  header {
    border-bottom: 1px dashed $medium-gray;
    margin-bottom: $global-margin;
  }
  footer {
    margin: $global-margin*0.5 0;
    button.button {
      margin-bottom: 0;
    }
  }

  .close-button {
    top: 0;
  }

  label,.labelText {
  	font-weight: bold;
  }
  .text {
  	margin-bottom: $global-margin;
  }
  input[type=text],
  input[type=password],
  input[type=email],
  select,
  textarea {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 );

    &:focus {
      border: 1px solid $complementary-dark-color2;
    }
  }
  textarea {
    height: 110px;
  }

  .formCallout {
    display: none;
  }

  .screenshots {
  	img {
  		@include position(relative);
  		border: 1px solid $complementary-dark-color3;

  		&:hover:after {
  			@include position(absolute,$top: 0, $left: 0);
  			background: rgba(0,0,0,0.2);
  		}
  	}
  }

  &.form2 {
    background: $complementary-dark-color3;
    color: $complementary-light-color1;

    label,
    .labelText {
      color: $complementary-light-color1;
    }
  }

  &.form3 {
    background: $complementary-light-color1;
    //color: $complementary-light-color1;

    label,
    .labelText {
      //color: $complementary-light-color1;
    }
  }

  &.formContainer {
    @include global-box();
  }
}
