html,
body {
    height: 100%;
}

#main {
	background: $light-gray;
	//@include position(relative);
  //height: 100%;
}

.page-noframe {
	#main {

	}
	#mainContent {

    padding-top: 1rem;
		//padding-top: $global-margin;
	}
}

#mainContent {
	background: $white;
  min-height: 400px;
	padding: $global-padding $global-edge-padding;
	//padding-top: 8rem;
  header.titleMain {

    border-bottom: none;
    margin-bottom: 1.5rem;

  }

	section {
		margin-bottom: $global-mobile-margin;
	}
}

.contentContainer {
  & > header {
    border-bottom: 1px dashed $medium-gray;
    margin-bottom: $global-margin;
	}
}

.icon img {
	margin-right: 0.5rem;
	vertical-align: middle;
}

.boxModel {
	@include global-box();
}

.calloutInline {
	display: inline-block;
}
.calloutNeutral {
	background: $complementary-light-color3;
}

.inlineRow {
	margin-bottom: 0.5em;
	div{
		display: inline;
		margin-right: 1em;
		b{
			margin-right: 0.5em;
		}
	}
}

.boxContent {
  @include global-box($padding-top: 0,$padding-left:0, $padding-right: 0, $padding-bottom: 0, $margin-bottom: 1.5rem);
}

.attachments {
  @include global-box();
  background: $light-gray;
  margin-bottom: $global-margin;
  min-height: 100px;

}

@include breakpoint(medium) {
  #mainContent {
    //height: 100%;
    //min-height: 300px;
    section {
  		margin-bottom: $global-section-margin;
  	}
  }
}
