html,
body {
    height: 100%;
}

#main {
	background: $light-gray;
	@include position(relative);
}

.page-noframe {

	#main {
		height: 100%;

	}
	#mainContent {
		height: 100%;
		//padding-top: $global-margin;
	}
}


#bizcubeTicketing {
	color: $dark-gray;
	font-weight: bold;
	font-size: 22px;
	text-transform: uppercase;
}

#header {
	-webkit-box-shadow: 0 1px 4px 0 $black;
	box-shadow: 0 1px 4px 0 $black;

	background: $complementary-light-color1;
	border-bottom: 5px solid $complementary-dark-color3;
	@include position(absolute, $top: 0, $left: 0, $right: 0);
}

#mainContent {
	background: $white;
	padding: $global-padding $global-edge-padding;
	padding-top: 8rem;

	section {
		margin-bottom: $global-section-margin;
	}
}

#footer {
	border-top: 1px solid $complementary-dark-color1;

	.inner {
		background: $white;
		padding: $global-edge-padding;
	}

	a {
		color: $black;
		margin: 10px;
		&:hover {
			color: $dark-gray;
		}
	}
}

.contentContainer {
  & > header {
    border-bottom: 1px dashed $medium-gray;
    margin-bottom: $global-margin;
	}
}

h1 small,
h2 small,
h3 small,
h4 small, {
	font-size: 1rem;
	text-transform: none;
}

.icon img {
	margin-right: 0.5rem;
	vertical-align: middle;
}

.boxModel {
	@include global-box;
}

.calloutInline {
	display: inline-block;
}
.calloutNeutral {
	background: $complementary-light-color3;
}

.inlineRow {
	margin-bottom: 0.5em;
	div{
		display: inline;
		margin-right: 1em;
		b{
			margin-right: 0.5em;
		}
	}
}
