@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin scrollY($height: 300px) {
	height: $height;
	overflow-y: scroll;
	overflow-x: hidden;
}

@mixin border-radius(
  $radius: $global-radius,
  $bottom-left: $global-radius,
  $bottom-right: $global-radius,
  $top-left: $global-radius,
  $top-right: $global-radius
) {
  @if ($radius == $global-radius) {
    -webkit-border-top-left-radius: $top-left;
    -webkit-border-top-right-radius: $top-right;
    -webkit-border-bottom-left-radius: $bottom-left;
    -webkit-border-bottom-right-radius: $bottom-right;
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-left-radius: $bottom-left;
    border-bottom-right-radius: $bottom-right;
  }
  @else {
    -webkit-border-radius: $radius;
    border-radius: $radius;
  }
}

@mixin global-box(
  $type: null,
  $padding-top: $global-padding,
  $padding-right: $global-padding,
  $padding-bottom: $global-padding,
  $padding-left: $global-padding,
  $margin-top: $global-margin,
  $margin-right: $global-margin,
  $margin-bottom: $global-margin,
  $margin-left: $global-margin,
  $border-radius: $global-radius
  ) {

    $factor: 1;
  @if ($type == 'small') {
    $factor: 5;
  }
  @if ($type == 'mobile') {
    $factor: 2;
  }

  @include border-radius($radius: $global-radius * $factor);

  @if ($padding-top == $global-padding) {
    $padding-top: $global-padding * $factor;
  }
  @if ($padding-right == $global-padding) {
    $padding-right: $global-padding * $factor;
  }
  @if ($padding-bottom == $global-padding) {
    $padding-bottom: $global-padding * $factor;
  }
  @if ($padding-left == $global-padding) {
    $padding-left: $global-padding * $factor;
  }
  padding: $padding-top $padding-right $padding-bottom $padding-left;

  @if ($margin-top == $global-margin) {
    $margin-top: $global-margin * $factor;
  }
  @if ($margin-right == $global-margin) {
    $margin-right: $global-margin * $factor;
  }
  @if ($margin-bottom == $global-margin) {
    $margin-bottom: $global-margin * $factor;
  }
  @if ($margin-left == $global-margin) {
    $margin-left: $global-margin * $factor;
  }

  margin: $margin-top $margin-right $margin-bottom $margin-left;
}

@mixin global-tag() {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0 $global-margin*0.1 $global-margin*0.5;
    padding: 0.1rem $global-padding*0.5 0.1rem;
    &:first {
      margin-left: 0;
    }
}

@mixin global-container() {
    margin-bottom: $global-margin;
}

@mixin inline-unordered-list() {
  margin-left: 0;
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
  }
}

@mixin activeDropDown {
  @include border-radius($radius: 10px);
  background: darken($complementary-light-color1,2);
  color: $dark-gray;
}
