nav {
  text-transform: uppercase;

  @mixin activeDropDown {
    border-radius: 10px 10px;
    background: $complementary-light-color2;
    color: $dark-gray;
  }

  a {
    color: $dark-gray;
    &:hover {
      @include activeDropDown;
    }
  }

  .dropdown.menu .is-active > a {
    @include activeDropDown;
  }

  .submenu {
    color: $complementary-light-color1;
    margin-top: 1.35rem;

    li {
      border-top: 1px solid $complementary-light-color3;
      &:first {
        border-top: none;
      }
    }

      a {
        color: $complementary-light-color1;
        text-transform: none;
        &:hover {
          border-radius: 0;
          background: $complementary-dark-color3;
          color: $complementary-light-color1;
        }
      }
  }
}
