#packages {

  .card {
    @include global-box;
    @include position(relative);
    -webkit-box-shadow:inset 0 10px 10px 0px  rgba(233,233,233,0.8);
    box-shadow:inset 0 10px 10px 0px rgba(233,233,233,0.8);
    background: $complementary-light-color1;

    height: 180px;
    padding:0;
    line-height: 1.1;
    overflow: hidden;

    div, ul {
      margin-bottom: 0.2rem;
    }

    .card-divider {
      background: none;
      height: 60%;
      overflow: hidden;
      padding-bottom: 0;
    }
    h3 {
      @include position(relative);

      font-size: $global-font-size*1.1;
      font-weight: bold;
      height: 1.5rem;
      margin-right: 0.5rem;
      margin-bottom:  0.3rem;
      overflow: hidden;
      padding-left:1.4rem;
      text-transform: none;

      //color code for products
      &:before {
        @include position(absolute,$top: 0.16rem, $left: 0);
        @include global-box($type:small);
        background: $complementary-light-color2;
        content: '';
        display: inline-block;
        height: 1rem;
        margin-right: 0.5rem;
        width: 1rem;
      }
    }

    .colorCodePurple {
      &:before {
        background: #662d91;
      }
    }
    .colorCodeGreen {
      &:before {
        background: #2d9157;
      }
    }

    .card-section {
      //@include position(absolute, $bottom: 0, $left: 0, $right: 0);
      @include global-box;
      color: $dark-gray;
      height: 40%;
      margin-bottom: 0;
      overflow: hidden;
      padding-top: 0;
      vertical-align: bottom;
    }

    .system {
      @include inline-unordered-list();
      height: 1.6rem;
      overflow: hidden;
      li {
        @include global-tag;
        font-size: $global-font-size*0.8;
        background: $complementary-dark-color2;
        color: $white;

      }
    }

    .expiring {
      font-style: italic;
    }

    .manDays {
      @include global-box('small');
      background: $complementary-light-color2;
      color: $dark-gray;
      text-align: center;
      vertical-align: bottom;
      b {
        color: $complementary-dark-color3;
        font-size: $global-font-size*2.4;
        font-weight: normal;
      }
      small {
        color: $complementary-dark-color2;
        display: block;
        font-size: $global-font-size * 0.8;
      }
    }

  }
}
