//
.tabBoxContainer {
  @include position(relative);
  margin-bottom: $global-margin;
  //z-index: 2;

  .tabBoxButton {
    //@include border-radius($radius: $global-radius);
        align-self: flex-end;
    margin-bottom: 0px;
    z-index: 2;

    &.tabBoxButtonOpen {
      @include border-radius($top-right:$global-mobile-radius, $top-left:$global-mobile-radius,$bottom-right:0px, $bottom-left: 0px);
    }
  }
  .tabBoxContent {
    //@include position(absolute,$top: 27px);
    //display: none;
    //padding-top: 49px;
    @include border-radius($top-right:8px, $top-left: 0,$bottom-right:8px, $bottom-left: 8px);
    padding: 1.5rem 1rem;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .close-button {
    color: $complementary-light-color1;
    right: 0;
    top: 0;
  }
}

@include breakpoint(medium) {
  .tabBoxContainer {
    .tabBoxButton {
      &.tabBoxButtonOpen {
        @include border-radius($top-right:$global-radius, $top-left: $global-radius,$bottom-right:0px, $bottom-left: 0px);
      }
    }
  }
}
