table {


  thead {
    border: none;
    th {
      font-size: $global-font-size*0.8;
      font-weight: normal;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
    }

  }

  tbody {
    border: 1px solid $complementary-dark-color3;

    tr {
      border-top: 1px solid $complementary-dark-color3;
    }
    tr:hover td {
      color: $complementary-light-color1;
      background: $complementary-dark-color3;
    }
    tr:hover:nth-child(even) td {
      background: $complementary-dark-color2;
      //color: $black;
    }
    td.colorCodeYellow {
      background: #ffff00;
    }
    td.colorCodeGreen {
      background: #00cc00;
    }
    td.colorCodeRed {
      background: #e60000;
    }
  }



  &.packageTable, &.packagetranTable {
    td {
      text-align: center;
    }
  }
}
