//threadContainer
.threadContainer {
	@include global-box;
	background: $complementary-light-color1;

	.thread {
		border-bottom: 1px dashed $complementary-light-color2;
		padding: $global-padding;

		&:nth-child(even) {
			background:  darken($complementary-light-color1,2%);
		}

		.top {
			margin-botom: $global-margin*1.2;

			b {
				font-size: $global-font-size*1.2;
				font-weight: normal;
			}
			.datetime,.tag {
				font-size: $global-font-size*0.8;
				margin-right: 0.5rem;
				i {
					color: $complementary-dark-color3;
					font-style: normal;
				}
			}
			.tag {
				@include global-tag;
				background: $complementary-dark-color1;
				font-weight: bold;
			}
		}
	}
}
