section {
  & > header {
    @include position(relative);
    border-bottom: 1px dashed $medium-gray;
    margin-bottom: $global-margin;

    h2 {
      align-self: flex-end;
    }

    button, .buttonType2 {
      margin-bottom: 0.5rem;
    }

    &.toggleTitle button.toggleTitleButton {
      @include global-box('small');
      @include position(absolute, $top: 0, $right: 0);
      background: $complementary-light-color1;

      cursor: pointer;
      height: 30px;
      //margin-bottom: 0;
      width: 30px;

      &:hover {
        background: $complementary-light-color2;
      }

      &:before {
        @include position(absolute, $top: 11px, $right: 7px);
        @include css-triangle($triangle-size: 8px, $triangle-color: $dark-gray, $triangle-direction:'up');
      }
    }
    &.toggleTitle button.toggleTitleButton.toggleOpen {

        &:before {
          @include css-triangle($triangle-size: 8px, $triangle-color: $dark-gray, $triangle-direction:'down');
        }
    }
  }

}

@include breakpoint(medium) {
  section {
    & > header {
      button, .buttonType2 {
        margin-bottom: $global-margin*0.5;
      }
    }
  }
}
