section {
  & > header {
    @include position(relative);
    border-bottom: 1px dashed $medium-gray;
    margin-bottom: $global-margin;

    &.toggleTitle .button {
      @include global-box('small');
      @include position(absolute, $top: 5px, $right: 0);
      background: $complementary-light-color1;

      cursor: pointer;
      height: 30px;
      width: 30px;

      &:hover {
        background: $complementary-light-color2;
      }

      &:before {
        @include position(absolute, $top: 10px, $right: 6px);
        @include css-triangle($triangle-size: 8px, $triangle-color: $dark-gray, $triangle-direction:'up');
      }
    }
    &.toggleTitle .button.toggleOpen {

        &:before {
          @include css-triangle($triangle-size: 8px, $triangle-color: $dark-gray, $triangle-direction:'down');
        }
    }
  }

}

@include breakpoint(medium) {

}
