section {
  & > header {
    @include position(relative);
    border-bottom: 1px dashed $medium-gray;
    margin-bottom: $global-margin;

    &.toggleTitle:before {
      @include global-box('small');
      @include position(absolute, $top: 5px, $right: 0);
      content: '';
      background: $complementary-light-color1;
      cursor: pointer;
      height: 30px;
      width: 30px;

    }
    &.toggleTitle:after {
        @include css-triangle($triangle-size: 8px, $triangle-color: $dark-gray, $triangle-direction:'up');

        @include position(absolute, $top: 15px, $right: 7px);
        content: '';
        background: $complementary-light-color1;
        cursor: pointer;
    }

    &.toggleTitle.toggleOpen:before {


    }
    &.toggleTitle.toggleOpen:after {
        @include css-triangle($triangle-size: 8px, $triangle-color: $dark-gray, $triangle-direction:'down');
    }
  }

}
