<footer id="footer">
  <div class="grid-container inner" >
    <div class="grid-x">

      <div class="contact cell medium-12 text-center">
        <a href="phone:+65 6737 0321" class="phone"><i class="icon"><img src="/assets/img/icon-dark-small-phone.png" alt="phone icon" /></i>+65 6737 0321</a>
        <a href="mailto:support@bizcube.com.sg" class="email"><i class="icon"><img src="/assets/img/icon-dark-small-mail.png" alt="email icon" /></i>support@bizcube.com.sg</a>
      </div>
    </div>
  </div>
</footer>
