<header id="header" class="">
  <div class="grid-container top-bar">
    <div class="top-bar-left">
      <a href="/Support/index.html" id="bizcubeTicketing">Bizcube Ticketing</a>
    </div>
    <nav class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li style="display:none" id="navPackages"><a href="/Support/Ticketing/packages.html"><i class="icon"><img src="/assets/img/icon-mid-packages.png" /></i> Prdocuts</a></li>
        <li style="display:none"id="navReport"><a href="#"><i class="icon"><img src="/assets/img/icon-mid-reports.png" /></i> Reports</a></li>
        <li id="navUser"><a href="#"><i class="icon"><img src="/assets/img/icon-mid-user.png" /></i> User</a>
          <ul class="menu vertical">
            <li><a href="/Support/Ticketing/profile.html">Profile</a>
            <li><a href="/Support/Ticketing/changeMyPwd.html">Change Password</a>
            <li><a href="#" id="logOut">Logout</a>
          </ul>
        </li>
        <li style="display:none" id="navSettings"><a href="#"><i class="icon"><img src="/assets/img/icon-mid-settings.png" /></i> Settings</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- header end -->
